/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Fine Reset */

/* Proprietà body */
body {
  background-image: url(../img/pattern.png);
}
/* Fine Proprietà body */

/* Proprietà container */
.container {
  width: 60%;
  margin: auto;
}
/* Proprietà container */

.logo {
  position: relative;
  margin-top: 20px;
  background-image: url(../img/header.jpg);
  color: white;
  text-align: center;
  height: 400px;
  border: 12px solid white;
}

.titolo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1.titolo {
  width: 40%;
  font-size: 75px;
  font-family: arial;
  letter-spacing: 10px;
  font-weight: lighter;
  border: 8px solid white;
}

h3.titolo {
  top: 80%;
  font-size: 28px;
  font-family: sans-serif;
}

.bar {
  background-color: rgb(102, 102, 102);
  height: 50px;
}

.menu {
  list-style: none;
  text-align: center;
  line-height: 55px;
}

.menu li {
  display: inline-block;
  padding: 0 12px;
  color: white;
  font-size: 12px;
  font-family: arial;
  font-weight: bold;
}

/* Proprietà Main */
main::after {
  content: "";
  display: table;
  clear: both;
}
/* Fine Proprietà Main */

.col {
  float: left;
  background-color: white;
  padding: 7px 10px;
  border-radius: 10px;
}

.col.sinistra {
  margin-top: 15px;
  width: 20%;
}

img {
  vertical-align: 30px;
}

.sottotitoli {
  display: inline-block;
  color: rgb(50, 50, 50);
  font-family: sans-serif;
  font-size: 30px;
  padding: 10px 0 15px 5px;
}

.link {
  list-style: none;
}

.link li {
  display: inline-block;
  color: green;
  font-size: 20px;
  font-family: arial;
  padding-bottom: 15px;
}

.col.centrale {
  width: 50%;
  margin: 15px 5%;
}

#lorem {
  padding: 20px 10px;
  font-size: 20px;
  font-family: arial;
  line-height: 35px;
}

.col.destra {
  background-color: inherit;
  float: right;
  padding: 0 10px;
  margin-top: 15px;
  width: 20%;
}

.sottocolonne {
  background-color: white;
  margin-bottom: 40px;
  padding: 7px 10px;
  border-radius: 10px;
}

.footer {
  margin-top: 40px;
  background-color: white;
  border-radius: 10px;
}

.footer p {
  color: lightgrey;
  padding: 5px;
  border-bottom: 1px solid darkgrey;
  text-align: center;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: bolder;
  font-style: italic;
}

.social {
  text-align: center;
}

.icona {
  color: grey;
  font-size: 50px;
  margin: 20px 50px 20px;
  padding: 0 100px;
}
